*{
    margin: 0;
    padding: 0;
}
body{
    background: burlywood;
}
header{
    background: black;
    text-align: center;
    padding: 50px;
    box-shadow: 0px 3px 6px lightgray;
}
#eat,#mask{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}
#wash,#stay,#calm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}
p,h2{
    padding: 30px;
    }
